<template>
  <div>
    <b-table :data="users" v-if="users && me">
      <template scope="props">
        <b-table-column label="Username" field="username" sortable>
          <b-input type="text" v-model="props.row.username"></b-input>
        </b-table-column>
        <b-table-column label="First name" field="firstName" sortable>
          <b-input type="text" v-model="props.row.firstName"></b-input>
        </b-table-column>
        <b-table-column label="Last name" field="lastName" sortable>
          <b-input type="text" v-model="props.row.lastName"></b-input>
        </b-table-column>
        <b-table-column label="Email" field="email" sortable>
          <b-field>
            <b-input type="email" v-model="props.row.email"></b-input>
          </b-field>
        </b-table-column>
        <b-table-column label="Password" field="password">
          <b-field>
            <b-input type="password" v-model="props.row.password"></b-input>
          </b-field>
        </b-table-column>
        <b-table-column label="Validated" field="validated" sortable>
          <b-checkbox v-model="props.row.validated" :disabled="props.row.id === me.id"></b-checkbox>
        </b-table-column>
      </template>
    </b-table>
    <br>
    <div class="is-flex is-space-around">
      <button class="button is-primary is-large" @click="addUser">Add user</button>
      <button class="button is-primary is-large" @click="update">Update</button>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'
  import {toastUpdate, toastUpdateFailed} from '../util'

  export default {
    name: 'Admin',
    data() {
      return {
        users: [],
        me: undefined
      }
    },
    methods: {
      async update() {
        let isUndefined = false;
        for(let user of this.users) {
          if(user.id === 0) {
            isUndefined |= !await call('users', 'PUT', user);
          } else {
            isUndefined |= !await call(`users/${user.id}`, 'POST', user);
          }
        }
        isUndefined ? this::toastUpdate() : this::toastUpdateFailed();
      },
      addUser() {
        this.users.unshift({
          id: 0,
          username: '',
          firstName: '',
          lastName: '',
          email: '',
          validated: false,
          password: undefined
        });
      }
    },
    async created() {
      this.users = await call('users');
      this.me = await call('users/me');
    }
  }
</script>
