<template>
  <div>
    <h1 v-if="event" class="title is-1">{{event.name}}</h1>

    <b-field label="Search">
      <b-input v-model="searchTerms"
               placeholder="Search"
               icon="search"
               expanded
      ></b-input>
    </b-field>
    <b-table :data="filteredArrangement" :paginated="true">
      <template scope="props">
        <b-table-column label="First Name" field="guest.firstName" sortable>
          {{props.row.guest.firstName}}
        </b-table-column>
        <b-table-column label="Last Name" field="guest.lastName" sortable>
          {{props.row.guest.lastName}}
        </b-table-column>
        <b-table-column label="Table" field="table" sortable>
          <b-select v-model="props.row.table" :type="invalid.has(props.row.guest.id)">
            <option v-for="table in tables" :value="table" :key="table">{{table - offset}}</option>
          </b-select>
        </b-table-column>
      </template>
    </b-table>
    <div class="is-flex is-space-around">
      <button class="button is-primary is-large" @click="generate">New</button>
      <button class="button is-primary is-large" @click="update">Update</button>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'
  import {toastUpdate, toastUpdateFailed} from '../util'
  import {Planner} from '../seating/planner'

  export default {
    name: 'arrangement',
    data() {
      return {
        newArrangement: false,
        searchTerms: '',
        invalid: new Set(),
        plan: [],
        arrangement: [],
        event: undefined,
        guests: [],
        offset: 0
      }
    },
    computed: {
      tables() {
        return this.arrangement.map(s => s.table).filter((t, index, arr) => {
          return index === arr.indexOf(t)
        }).sort();
      },
      filteredArrangement() {
        if (this.searchTerms.length > 0) {
          let terms = this.searchTerms.split(' ');
          return this.arrangement.filter(a => {
            for (let term of terms) {
              if (a.guest.firstName.includes(terms) || a.guest.lastName.includes(term) || a.table == term) {
                return true;
              }
            }
            return false;
          })
        }
        return this.arrangement;
      }
    },
    methods: {
      update() {
        const planner = this.makePlanner();
        this.invalid = planner.validate(this.plan);

        async function save() {
          let isUndefined = false;
          if (this.newArrangement) {
            isUndefined = !await call(`arrangements/${this.$route.params.eventId}`, 'PUT', this.arrangement)
          } else {
            let tables = new Map();
            for (let seating of this.arrangement) {
              tables.set(seating.table, (tables.get(seating.table) || []).push(seating))
            }
            for (let table of tables.entries()) {
              isUndefined |= !await call(`arrangements/${this.$route.params.eventId}/${table[0]}`, 'POST', table[1]);
            }
          }

          isUndefined ? this::toastUpdateFailed() : this::toastUpdate();
        }

        if (this.invalid.size > 0) {
          this.$snackbar.open({
            type: 'is-warning',
            message: 'Invalid arrangement. Save anyways?',
            position: 'is-bottom',
            duration: 5000,
            actionText: 'Yes',
            onAction: () => {
              this::save();
            }
          })
        } else {
          this::save();
        }
      },
      generate() {
        this.plan = this.makePlanner().plan();
        this.newArrangement = true;
        this.arrangement = [];
        let i = 1;
        for (let table of this.plan) {
          for (let guest of table) {
            guest = this.guests.find(g => g.id === guest);
            this.arrangement.push({guest, table: i});
          }
          i++;
        }
        const sorted = this.arrangement.sort((a, b) => {
          return a.table - b.table
        });
        this.offset = sorted[0].table - 1;
      },
      makePlanner() {
        let positive = [];
        let negative = [];
        for (let guest of this.guests) {
          for (let other of guest.positives) {
            if (other > guest.id)
              positive.push([guest.id, other]);
          }
          for (let other of guest.negatives) {
            if (other > guest.id)
              negative.push([guest.id, other]);
          }
        }
        return new Planner({
          guests: this.guests.map(g => g.id),
          tableSize: this.event.tableSize,
          tableCount: this.event.tableCount,
          positive,
          negative
        });
      }
    },
    async created() {
      this.event = await call(`events/${this.$route.params.eventId}`);
      this.guests = await call(`guests/${this.$route.params.eventId}`);

      this.arrangement = await call(`arrangements/${this.$route.params.eventId}`);
      if (!this.arrangement || !this.arrangement.length > 0) {
        this.generate();
      }
    }
  }
</script>
