<template>
  <div v-if="company">
    <h1 class="title is-1">{{company.companyName}}</h1>
    <b-field label="Name">
      <b-input v-model="company.companyName"></b-input>
    </b-field>
    <b-field label="Location">
      <b-input v-model="company.location"></b-input>
    </b-field>
    <b-field label="Website">
      <b-input v-model="company.website"></b-input>
    </b-field>
    <b-field label="Phone">
      <b-input v-model="company.phoneNumber"></b-input>
    </b-field>
    <br>
    <button class="button is-large is-primary" @click="update">Update</button>
  </div>
</template>

<script>
  import {call} from '../api'
  import {toastUpdate, toastUpdateFailed} from '../util'

  export default {
    name: 'company',
    data() {
      return {
        company: undefined
      }
    },
    methods: {
      async update() {
        let isUndefined = !await call('company', 'POST', this.company);
        isUndefined ? this::toastUpdateFailed() : this::toastUpdate();
      }
    },
    async created() {
      this.company = await call('company');
    }
  }
</script>
