<template>
  <div>
    <b-table :data="customers" :paginated="true">
      <template scope="props">
        <b-table-column label="First name" field="firstName" sortable>
          <b-input v-model="props.row.firstName"></b-input>
        </b-table-column>
        <b-table-column label="Last name" field="lastName" sortable>
          <b-input v-model="props.row.lastName"></b-input>
        </b-table-column>
        <b-table-column label="Phone number" field="number" sortable>
          <b-field>
            <b-input type="tel" v-model="props.row.number"></b-input>
          </b-field>
        </b-table-column>
        <b-table-column label="Email" field="email" sortable>
          <b-field>
            <b-input type="email" v-model="props.row.email"></b-input>
          </b-field>
        </b-table-column>
      </template>
    </b-table>
    <br>
    <div class="is-flex is-space-around">
      <button class="button is-primary is-large" @click="addCustomer">Add customer</button>
      <button class="button is-primary is-large" @click="update">Update</button>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'
  import {toastUpdate, toastUpdateFailed} from '../util'

  export default {
    name: 'Customers',
    data() {
      return {
        customers: []
      }
    },
    methods: {
      async update() {
        let isUndefined = false;
        for(let customer of this.customers) {
          if(customer.id === 0)
            isUndefined |= !await call('customers', 'PUT', customer);
          else
            isUndefined |= !await call(`customers/${customer.id}`, 'POST', customer);
        }
        isUndefined ? this::toastUpdateFailed() : this::toastUpdate();
      },
      addCustomer() {
        this.customers.unshift({
          id: 0,
          firstName: '',
          lastName: '',
          number: '',
          email: ''
        });
      }
    },
    async created() {
      this.customers = await call('customers');
    }
  }
</script>
