<template>
  <div v-if="event">
    <h1 class="title is-1">{{event.name}}</h1>

    <div class="columns">
      <b-field class="column" label="Name">
        <b-input v-model="event.name"></b-input>
      </b-field>
      <b-field class="column" label="Date">
        <b-input type="date" v-model="event.date"></b-input>
      </b-field>
      <b-field class="column" label="Venue">
        <b-input v-model="event.venue"></b-input>
      </b-field>
      <b-field class="column" label="Address">
        <b-input v-model="event.address"></b-input>
      </b-field>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <button class="button" @click="addCustomer">Add customer</button>
        <br>
        <br>
        <div class="columns" v-for="c in event.customers" :key="c.id">
          <div class="column is-three-quarters">
            <b-select placeholder="Customer" v-model="c.id" expanded>
              <option v-for="customer in customers" :key="customer.id" :value="customer.id">
                {{customer.firstName}} {{customer.lastName}}
              </option>
            </b-select>
          </div>
          <div class="column">
            <button class="button is-danger" @click="removeCustomer(c)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
      </div>
      <div class="column">
        <b-field label="Expected guests">
          <b-input v-model="event.expectedGuests" type="number"></b-input>
        </b-field>
        <b-field label="Total tables">
          <b-input v-model="event.tableCount" type="number"></b-input>
        </b-field>
        <b-field label="Table size">
          <b-input v-model="event.tableSize" type="number"></b-input>
        </b-field>
        <br>
        <div class="has-text-centered">
          <router-link class="button is-fullwidth" :to="{name: 'guests', params: {eventId: event.id}}">
            Edit guest list
          </router-link>
          <router-link class="button is-fullwidth" :to="{name: 'arrangement', params: {eventId: event.id}}">
            Edit seating
          </router-link>
        </div>
      </div>
      <div class="column has-text-centered">
        <router-link class="button is-fullwidth" :to="{name: 'print-cards', params: {eventId: event.id}}">
          Print table cards
        </router-link>
        <br>
        <router-link class="button is-fullwidth" :to="{name: 'print-guests', params: {eventId: event.id}}">
          Print guest list
        </router-link>
        <br>
        <router-link class="button is-fullwidth" :to="{name: 'print-tables', params: {eventId: event.id}}">
          Print table list
        </router-link>
      </div>
    </div>
    <div class="has-text-centered">
      <button class="button is-primary is-large" @click="update">Update</button>
    </div>
  </div>
</template>

<script>
  import {toastUpdate, toastUpdateFailed, getUserId} from '../util'
  import {call} from '../api'

  export default {
    name: 'Event',
    data() {
      return {
        customers: []
      }
    },
    asyncComputed: {
      async event() {
        let event = await call(`events/${this.$route.params.eventId}`);
        event = event || {
          id: 0,
          userId: getUserId(),
          name: '',
          customers: [],
          date: new Date(),
          venue: '',
          address: '',
          expectedGuests: 0,
          openSeats: 0,
          tableSize: 0,
          tableCount: 0
        };
        event.date = (new Date(event.date)).toISOString().split('T')[0];
        return event;
      }
    },
    methods: {
      addCustomer() {
        this.event.customers.unshift(this.customers[0]);
      },
      removeCustomer(c) {
        let index = this.event.customers.indexOf(c);
        this.event.customers.splice(index, 1);
      },
      async update() {
        let tempDate = new Date(this.event.date);
        this.event.date = tempDate.toISOString();
        let isUndefined = false;
        if (this.event.id === 0) {
          let event = await call('events', 'PUT', this.event);
          isUndefined = !event;
          if (event)
            this.$router.push({name: 'event', params: {eventId: event.id}});
        }
        else {
          isUndefined = !await call(`events/${this.event.id}`, 'POST', this.event);
          this.event.date = tempDate.toISOString().split('T')[0];
        }
        isUndefined ? this::toastUpdateFailed() : this::toastUpdate();
      }
    },
    async created() {
      this.customers = await call('customers');
    }
  }
</script>
