<template>
  <div>
    <b-field grouped>
      <b-input v-model="searchTerms"
               placeholder="Search"
               icon="search"
               expanded
      ></b-input>
      <b-checkbox v-model="myEvents">My Events</b-checkbox>
    </b-field>
    <b-table
      :data="filteredEvents"
      default-sort="date"
      :paginated="true"
      @click="openEvent">

      <template scope="props">
        <b-table-column label="Event name" field="name" sortable>
          {{props.row.name}}
        </b-table-column>
        <b-table-column label="Date" field="date" sortable>
          {{props.row.date}}
        </b-table-column>
      </template>
    </b-table>
    <div class="is-flex is-space-around">
      <button class="button is-large is-primary" @click="addEvent">Add event</button>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'
  import {getUserId} from '../util'

  export default {
    name: 'Events',
    data() {
      return {
        searchTerms: '',
        myEvents: true,
        events: []
      }
    },
    computed: {
      filteredEvents() {
        //TODO: Make the filter smarter (i.e. multiple terms)
        let filtered = this.events.filter(event => event.name.includes(this.searchTerms));
        if (this.myEvents)
          filtered = filtered.filter(event => event.userId == getUserId());
        return filtered;
      }
    },
    methods: {
      openEvent(event) {
        this.$router.push({name: 'event', params: {eventId: event.id}});
      },
      addEvent() {
        this.$router.push({name: 'event', params: {eventId: 0}});
      }
    },
    async created() {
      this.events = await call('events') || [];
    }
  }
</script>
