<template>
  <div v-if="guests">
    <b-modal :active.sync="addGuestModalOpen" has-modal-card>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add a guest connection</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Search">
            <b-autocomplete
              v-model="modalSearchTerms"
              :data="guestNames"
              @select="setGuestConnectionId"
              placeholder="Search"
              icon="search"
              expanded
            ></b-autocomplete>
          </b-field>
          <b-field label="Guest">
            <b-select placeholder="Guest to connect to" v-model="addGuestConnectionId" expanded>
              <option
                v-for="guest in modalFilteredGuests"
                :value="guest.id"
                :key="guest.id"
              >
                {{guest.firstName}} {{guest.lastName}}
              </option>
            </b-select>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button" @click="closeModal">Cancel</button>
          <button class="button is-primary" @click="addConnectionFinish">Add</button>
        </footer>
      </div>
    </b-modal>

    <h1 v-if="event" class="title is-1">{{event.name}}</h1>

    <b-field label="Search">
      <b-autocomplete
        v-model="searchTerms"
        :data="guestNames"
        placeholder="Search"
        icon="search"
        expanded
      ></b-autocomplete>
    </b-field>

    <b-table :data="filteredGuests" :paginated="true">
      <template scope="props">
        <b-table-column label="First name" field="firstName" sortable>
          <b-input v-model="props.row.firstName"></b-input>
        </b-table-column>
        <b-table-column label="Last name" field="lastName" sortable>
          <b-input v-model="props.row.lastName"></b-input>
        </b-table-column>
        <b-table-column label="Positive connections">
          <button class="button is-fullwidth" @click="addConnection(props.row.id)">
            <i class="material-icons">add</i>
          </button>
          <div v-for="id in props.row.positives" class="is-flex is-align-center is-space-between spacer">
            <p>
              {{guestDisplay(id)}}
            </p>
            <button class="button is-danger is-outlined" @click="removeConnection(props.row.id, id)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </b-table-column>
        <b-table-column label="Negative connections">
          <button class="button is-fullwidth" @click="addConnection(props.row.id, false)">
            <i class="material-icons">add</i>
          </button>
          <div v-for="id in props.row.negatives" class="is-flex is-align-center is-space-between spacer">
            <p>
              {{guestDisplay(id)}}
            </p>
            <button class="button is-danger is-outlined" @click="removeConnection(props.row.id, id, false)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </b-table-column>
      </template>
    </b-table>

    <div class="field">
      <label class="label">Upload new guest list</label>
      <div class="control">
        <!--TODO: get correct accept types-->
        <input class="input" type="file" @change="uploadFile($event)" ref="fileInput" accept="text/csv">
      </div>
    </div>

    <div class="has-text-centered">
      <button class="button is-primary is-large" @click="update">Update</button>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'
  import {toastUpdate, toastUpdateFailed} from '../util'

  export default {
    name: 'guests',
    data() {
      return {
        addGuestModalOpen: false,
        addGuestId: undefined,
        addGuestPositive: true,
        addGuestConnectionId: undefined,
        searchTerms: '',
        modalSearchTerms: '',
        reader: new FileReader(),
        file: undefined,
        result: undefined
      }
    },
    methods: {
      addGuest() {
        this.guests.push({
          id: 0,
          eventId: this.$route.params.eventId,
          firstName: '',
          lastName: '',
          tableId: 0,
          positives: [],
          negatives: []
        })
      },
      addConnection(guestId, isPositive = true) {
        this.addGuestModalOpen = true;
        this.addGuestId = guestId;
        this.addGuestPositive = isPositive;
      },
      addConnectionFinish() {
        const guest = this.guests.find(g => g.id === this.addGuestId);
        const connGuest = this.guests.find(g => g.id === this.addGuestConnectionId);
        if (this.addGuestPositive) {
          guest.positives.push(this.addGuestConnectionId);
          connGuest.positives.push(this.addGuestId);
        } else {
          guest.negatives.push(this.addGuestConnectionId);
          connGuest.negatives.push(this.addGuestId);
        }
        this.closeModal();
      },
      closeModal() {
        this.addGuestId = undefined;
        this.addGuestConnectionId = undefined;
        this.addGuestModalOpen = false;
      },
      guestDisplay(id) {
        let guest = this.guests.filter(g => g.id === id)[0];
        return `${guest.firstName} ${guest.lastName}`
      },
      removeConnection(guestId, connectionId, isPositive = true) {
        const guest = this.guests.find(guest => guest.id === guestId);
        const conGuest = this.guests.find(guest => guest.id === connectionId);
        if (isPositive) {
          guest.positives.splice(guest.positives.indexOf(connectionId), 1);
          conGuest.positives.splice(conGuest.positives.indexOf(guestId), 1);
        }
        else {
          guest.negatives.splice(guest.negatives.indexOf(connectionId), 1);
          conGuest.negatives.splice(conGuest.negatives.indexOf(guestId), 1);
        }
      },
      setGuestConnectionId() {
        this.addGuestConnectionId = this.modalFilteredGuests[0].id;
      },
      uploadFile(event) {
        this.file = event.target.files[0];
        this.reader.readAsText(this.file);
      },
      async update() {
        //TODO: validate possible for an arrangement
        let isUndefined = false;
        if (this.result) {
          this.guests = await call(`guests/upload/${this.$route.params.eventId}`, 'POST', this.result, 'text/csv');
          isUndefined = !this.guests;
          this.result = undefined;
          this.$refs.fileInput.value = "";
        } else {
          for (let guest of this.guests) {
            if (guest.id === 0)
              isUndefined |= !await call('guests', 'PUT', guest);
            else
              isUndefined != !await call(`guests/${guest.id}`, 'POST', guest);
          }
        }
        isUndefined ? this::toastUpdateFailed() : this::toastUpdate();
      }
    },
    asyncComputed: {
      async guests() {
        return await call(`guests/${this.$route.params.eventId}`);
      },
      async event() {
        return await call(`events/${this.$route.params.eventId}`);
      }
    },
    computed: {
      filteredGuests() {
        if (this.searchTerms.length > 0) {
          let terms = this.searchTerms.split(' ');
          return this.guests.filter(g => {
            for (let t of terms) {
              if (g.firstName.includes(t) || g.lastName.includes(t)) {
                return true;
              }
            }
            return false;
          })
        } else {
          return this.guests;
        }
      },
      modalFilteredGuests() {
        if (this.addGuestId) {
          const modalGuest = this.guests.find(g => g.id === this.addGuestId);
          const modalGuests = this.guests.filter(g => modalGuest.positives.indexOf(g.id) === -1 && modalGuest.negatives.indexOf(g.id) === -1);
          if (this.modalSearchTerms.length > 0) {
            let terms = this.modalSearchTerms.split(' ');
            return modalGuests.filter(g => {
              for (let t of terms) {
                if (g.firstName.includes(t) || g.lastName.includes(t)) {
                  return true;
                }
              }
              return false;
            })
          } else
            return modalGuests;
        } else {
          return this.guests;
        }
      },
      guestNames() {
        return this.guests.map(g => g.firstName + ' ' + g.lastName);
      }
    },
    created() {
      this.reader.onload = (e) => {
        this.result = e.currentTarget.result;
        this.$snackbar.open('File uploaded');
      };
    }
  }
</script>

<style scoped>
  .spacer p {
    margin-right: 0.25em;
  }
</style>
