<template>
  <div>
    <div v-for="table in tables" class="box">
      <div class="content">
        <h1 class="has-text-centered">Table {{table[0] - offset}}</h1>
        <ul>
          <li v-for="element in table[1]">
            {{element.guest.firstName}} {{element.guest.lastName}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'

  export default {
    name: 'print-cards',
    data() {
      return {
        offset: 0
      }
    },
    asyncComputed: {
      async tables() {
        let arrangements = await call(`arrangements/${this.$route.params.eventId}`);
        let tables = new Map();
        for (let seating of arrangements) {
          let seatingList = tables.get(seating.table) || [];
          seatingList.push(seating);
          tables.set(seating.table, seatingList);
        }
        this.offset = [...tables.keys()].sort()[0] - 1;
        return [...tables.entries()];
      }
    }
  }
</script>
