<template>
  <div>
    <div class="columns">
      <h3 class="column borderBottom borderRight is-size-3">Table</h3>
      <h3 class="column borderBottom borderLeft is-size-3">Guest</h3>
    </div>
    <div v-for="seating in arrangement" class="columns">
      <p class="column borderBottom borderRight">
        {{seating.table - offset}}
      </p>
      <p class="column borderBottom borderLeft">
        {{seating.guest.firstName}} {{seating.guest.lastName}}
      </p>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'

  export default {
    name: 'print-tables',
    data() {
      return {
        offset: 0
      }
    },
    asyncComputed: {
      async arrangement() {
        let arrangement = (await call(`arrangements/${this.$route.params.eventId}`)).sort((a, b) => {
          return a.table - b.table;
        });
        this.offset = arrangement[0].table - 1;
        return arrangement;
      }
    }
  }
</script>
