<template>
  <div>
    <div class="columns">
      <h3 class="column borderBottom borderRight is-size-3">Guest</h3>
      <h3 class="column borderBottom borderLeft is-size-3">Table</h3>
    </div>
    <div v-for="seating in arrangement" class="columns">
      <p class="column borderBottom borderRight">
        {{seating.guest.firstName}} {{seating.guest.lastName}}
      </p>
      <p class="column borderBottom borderLeft">
        {{seating.table - offset}}
      </p>
    </div>
  </div>
</template>

<script>
  import {call} from '../api'

  export default {
    name: 'print-guests',
    data() {
      return {
        offset: 0
      }
    },
    asyncComputed: {
      async arrangement() {
        let arrangement = await call(`arrangements/${this.$route.params.eventId}`);
        this.offset = arrangement.sort((a, b) => {
          return a.table - b.table;
        })[0].table - 1;
        return arrangement.sort((a, b) => {
          a = a.guest;
          b = b.guest;
          if (a.lastName === b.lastName) {
            return (a.firstName < b.firstName) ? -1 : 1;
          }
          return (a.lastName < b.lastName) ? -1 : 1;
        });
      }
    }
  }
</script>
