.is-space-between {
  justify-content: space-between;
}

.is-space-around {
  justify-content: space-around;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-align-center {
  align-content: center;
}

.is-align-center * {
  margin: auto 0;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.borderRight {
  border-right: 1px solid black;
}

.borderLeft {
  border-left: 1px solid black;
}
