<template>
  <div id="app">
    <div v-if="userId">
      <header>
        <nav class="navbar">
          <div class="navbar-brand">
            <div class="navbar-burger" :class="{'is-active': menuOpen}" @click="menuOpen = !menuOpen">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="navbar-menu" :class="{'is-active': menuOpen}">
            <div class="navbar-start">
              <router-link
                class="navbar-item" :class="{'is-active': $route.name === 'events'}"
                :to="{name: 'events'}"
                @click.native="menuOpen = false"
              >
                Events
              </router-link>
              <router-link
                class="navbar-item" :class="{'is-active': $route.name === 'customers'}"
                :to="{name: 'customers'}"
                @click.native="menuOpen = false"
              >
                Customers
              </router-link>
              <router-link
                class="navbar-item" :class="{'is-active': $route.name === 'admin'}"
                :to="{name: 'admin'}"
                @click.native="menuOpen = false"
              >
                Admin
              </router-link>
              <router-link
                class="navbar-item" :class="{'is-active': $route.name === 'company'}"
                :to="{name: 'company'}"
                @click.native="menuOpen = false"
              >
                Company
              </router-link>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="button is-primary" @click="logout">Logout</a>
              </div>
            </div>
          </div>
        </nav>
        <section class="hero is-primary">
          <div class="hero-body">
            <div class="container is-flex is-align-center">
              <i class="material-icons marginRight" @click="back">arrow_back</i>
              <h1 class="title">
                Table Manager 3000
              </h1>
            </div>
          </div>
        </section>
      </header>
      <section class="section">
        <router-view class="container"></router-view>
      </section>
    </div>
    <div v-else class="login is-flex is-space-around is-align-center" @keyup.enter="login">
      <div class="box login-box">
        <b-field label="Username">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-field label="Password">
          <b-input v-model="password" type="password"></b-input>
        </b-field>
        <div class="is-flex is-space-around">
          <!-- TODO: fix on enter -->
          <button class="button is-large is-primary" @click="login">Login</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {call} from './api'

  export default {
    name: 'app',
    data() {
      return {
        menuOpen: false,
        username: '',
        password: '',
        userId: window.localStorage.getItem("userId")
      }
    },
    methods: {
      async login() {
        let loginInfo = await call('login', 'POST', {username: this.username, password: this.password});
        if (loginInfo) {
          setLocal("userId", loginInfo.id);
          this.userId = loginInfo.id;
          this.$router.push({name: 'events'});
        } else {
          this.$snackbar.open({
            message: 'Failed to login. Please check the username and password',
            type: 'is-warning',
            position: 'is-bottom'
          })
        }
      },
      async logout() {
        this.$toast.open('Logging out...');
        setLocal("userId", undefined);
        this.userId = undefined;
        await call('logout', 'POST');
      },
      back() {
        this.$router.go(-1);
      }
    },
    async created() {
      let user = await call('users/me');
      if (user == null) {
        setLocal("userId", undefined);
        this.userId = undefined;
      } else {
        setLocal("userId", user.id);
        this.userId = user.id;
        this.$router.push({name: 'events'});
      }
    }
  }

  function setLocal(name, value) {
    window.localStorage.setItem(name, value || '');
  }
</script>

<style lang="scss">
  @import "~bulma/sass/utilities/initial-variables";

  $primary: #2e9bd6;
  @import "~bulma";
  @import "~buefy/src/scss/buefy";

  .hero, .login {
    background: url('../static/eventsiteheader.jpg') no-repeat center center;
  }

  .login {
    height: 100vh;
  }

  .login-box {
    width: 30rem;
  }

  .marginRight {
    margin-right: 1em;
  }
</style>
